@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}


html {
    scroll-behavior: smooth;
}

/* 
::-webkit-scrollbar {
    display: none;
} */

/* body {
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
} */

body {
    width: 100%;
    height: 100%;
    /* color: #000; */
    background: #fff;
    /* margin: 10vh; */
    /* transition: .2s ease; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* header - entire nav bar */
header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

/* from js file - toggle sticky for headers */
header.sticky {
    background: #fff;
    box-shadow: rgba(1, 1, 1, 0.1);
}

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    transition: .6s ease;
    color: black;
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
}


.nav-items a {
    color: #000;
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a.active {
    color: green;
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: #e45729;
}

.nav-menu-btn {
    display: none;
}


.scrollToTop-btn {
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: black;
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollToTop-btn.active {
    right: 20px;
    pointer-events: all;
    opacity: 1;
}



/* HOME Section */

/* home */
.home {
    justify-content: center;
    padding: 4rem 0rem;
    flex-direction: row;
}

.home .home-container {
    display: flex;
    min-height: 55vh;
    width: 100%;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.home-container .info {
    text-align: center;
    padding-left: 4.5vh;
}

.home-container .info h2 {
    font-size: 5em;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
}

.home-container .info h3 {
    color: #fff;
    padding-top: 0.5em;
    font-feature-settings: 1.3em;
    font-size: 2vw;
    font-weight: 150;
    line-height: 50px;
    text-align: center;
}

.wrapper_tab-content .btn {
    padding: 7px 20px;
    border-radius: 70px;
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: #000;
    margin-top: 50050%px;
    display: inline-block;
    margin-top: 55px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* ----------- About Section ---------- */


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    /* padding: 10px; */
}

.container {
    max-width: 1200px;
    width: 90%;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.about-col-1 {
    flex: 1;
    text-align: left;
    width: 40%;
}

.about-col-1 img {
    max-width: 70%;
    height: auto;
}

.about-col-2 {
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 1070px) {

    /*  header navigation   */
    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }


    .nav-items {
        position: relative;
        background-size: var(--modal-bg-color);
        background-color: #fff;
        width: 300px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: .3s ease;
    }


    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .nav-items a {
        margin: 15px 50px;
    }

    .nav-close-btn {
        position: absolute;
        background: url(/assets/cancel.png)no-repeat;
        /* filter: var(--color-filter); */
        background-size: 22px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }


    /* making it reactive */
    .nav-menu-btn {
        background: url(/assets/menu.png)no-repeat;
        /* filter: var(--color-filter); */
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }


    /* home section */
    .home .home-container .info {
        text-align: center;
        justify-content: center;
        font-size: 0.85rem;
    }

    .home .home-container .info h3 {
        text-align: center;
        justify-content: center;
        font-size: 3vh;
    }


    /* About section */
    .about .container .content {
        display: grid;
        width: 100%;
        row-gap: 20px;
    }


    .about-img img {
        min-width: 0;
        width: 100%;
    }

    .about-info {
        min-width: 0;
        width: 100%;
    }

    .about-info .professional-list {
        flex-direction: column;
    }

    .about-info .professional-list .list-item {
        justify-content: start;
    }

    /*   get in touch  */
    .get-in-touch .contact-card {
        display: grid;
        width: 100%;
    }

    .contact-card .title {
        font-size: 0.8rem;
        line-height: 50px;
    }

    /*  our client   */
    .client-swiper .swiper-slide {
        flex-direction: column;
    }

    .client-details {
        text-align: center;
    }

    /* contact me    */

    .contact .content {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left {
        margin-bottom: 40px;
    }

    .contact-form .second-row {
        flex-direction: column;
    }

    .contact-form .second-row input {
        width: 100%;
    }

    .footer-container {
        width: 50%;
        flex-direction: row;
    }


    /* footer */

    footer .footer-container .about,
    .footer-container .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container .info ul {
        align-items: center;
        flex-direction: column;
    }

    .footer-container .info ul li {
        margin: 5px 0;
    }

    .footer-container .hr {
        width: 100%;
        height: 150px;
        background: rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
    }

    .row {
        gap: 0.8rem;
        /* Add space between columns */
    }


}

/* media query max-width 730px*/
@media screen and (max-width: 730px) {
    body {
        margin: 5rem 0 0 0;
    }

    .section-title-01 {
        font-size: 3em;
    }

    .section-title-02 {
        font-size: 2em;
        transform: translateY(-65px)
    }

    /* home section */
    .home .home-container {
        display: grid;
    }

    .home-container .home-img {
        position: absolute;
    }

    .home-container .home-img img {
        width: 65%;
        transform: translate(80px, -180px);
    }

    .home .home-container .info {
        font-size: 0.8rem;
    }

    .media-icons {
        margin-bottom: 80px;
    }

    /* get in touch */

    .get-in-touch .contact-card {
        display: grid;
    }

    .contact-card .title {
        font-size: 0.6rem;
        line-height: 40px;
    }

    .contact-card .contact-btn .btn {
        font-size: 0.8rem;
    }
}

/* For smaller screens, stack the columns */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .about-col-1,
    .about-col-2 {
        /* flex: 100%; */
        width: 100%;
        margin-bottom: 0.7rem;
    }
}

.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.tabs li {
    margin-right: 7px;
    justify-content: space-evenly;
}

.tabs a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-bottom: 2px solid rgba(204, 39, 39, 0.1);
}

.tabs a:hover {
    border-bottom: 2px solid #333;
}


.wrapper_tab-content {
    position: relative;
}

.wrapper_tab-content.tab_content {
    position: absolute;
    padding: 1.75em 0;
    /* padding: 20px 0; */
    text-align: left;
    visibility: hidden;
    height: 0;
}


.tab_content h1 {
    font-size: 1.12em;
    margin-bottom: 0.5em;
}

.content-visible {
    position: static;
    visibility: inherit;
    height: auto;
}



/* Additional spacing adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .about {
        padding: 1rem 0;
        /* Reduce overall section padding */
    }

    .row {
        gap: 1rem;
        /* Reduce gap on mobile */
    }
}