@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
    background-color: #000;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* header - entire nav bar */
header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}


/* ================ scroll to top section  ================ */

.scrollToTop-btn {
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: black;
    color: #fff;
    font-size: 0.9em;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}

.scrollToTop-btn.active {
    right: 20px;
    pointer-events: all;
    opacity: 1;
}


/* from js file - toggle sticky for headers */
header.sticky {
    /* background: rgba(255, 255, 255, 0.1); */
    background: #121212;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
}


.nav-items a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.nav-items a.active {
    color: #e6e5ef;
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: #00ff00;
}

.nav-menu-btn {
    display: none;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.hero h1 {
    background: linear-gradient(45deg, #96b2aa, #08de5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-weight: 600;
    /* line-height: 70px; */
    margin-bottom: 10px;
}


.hero h2 {
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-feature-settings: 1.3em;
    font-size: 2vw;
}


/* Robot Face */
.robot-face {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #141212;
    border-radius: 50% / 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.robot-eye {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #00ff00;
    border-radius: 50%;
    transition: transform 0.1s ease;
}

.robot-eye-left {
    left: 100px;
}

.robot-eye-right {
    right: 100px;
}

/* Typewriter Section */
.typewriter-section {
    height: 100vh;
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.code-container {
    width: 600px;
    height: 600px;
    background-color: #121212;
    border: 1px #00ff00;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.code-line {
    color: #00ff00;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00ff00;
    margin-bottom: 10px;
}

.cursor {
    animation: blink 1.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}



@media screen and (max-width: 1070px) {

    /*  header navigation   */
    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }


    .nav-items {
        position: relative;
        /* background-size: #fff; */
        background-color: #000;
        width: 300px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        transform: translateY(-50px);
        transition: .3s ease;
    }


    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .nav-items a {
        margin: 15px 50px;
    }

    .nav-close-btn {
        position: absolute;
        background: url(/assets/cancel.png)no-repeat;
        filter: invert(1);
        background-size: 22px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
        color: black;
    }


    /* making it reactive */
    .nav-menu-btn {
        background: url(/assets/menu.png)no-repeat;
        filter: invert(1);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
        z-index: 2;
        /* filter: brightness(0) invert(1); */
        /* background-color: rgba(255, 255, 255, 0.2); */
    }


    /* home section */
    .home .home-container .info {
        text-align: center;
        justify-content: center;
        font-size: 0.85rem;
    }

    .home .home-container .info h3 {
        text-align: center;
        justify-content: center;
        font-size: 3vh;
    }


    /* About section */
    .about .container .content {
        display: grid;
        width: 100%;
        row-gap: 20px;
    }


    .about-img img {
        min-width: 0;
        width: 100%;
    }

    .about-info {
        min-width: 0;
        width: 100%;
    }

    .about-info .professional-list {
        flex-direction: column;
    }

    .about-info .professional-list .list-item {
        justify-content: start;
    }

    /*   get in touch  */
    .get-in-touch .contact-card {
        display: grid;
        width: 100%;
    }

    .contact-card .title {
        font-size: 0.8rem;
        line-height: 50px;
    }

    /*  our client   */
    .client-swiper .swiper-slide {
        flex-direction: column;
    }

    .client-details {
        text-align: center;
    }

    /* contact me    */

    .contact .content {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left {
        margin-bottom: 40px;
    }

    .contact-form .second-row {
        flex-direction: column;
    }

    .contact-form .second-row input {
        width: 100%;
    }

    .footer-container {
        width: 50%;
        flex-direction: row;
    }


    /* footer */

    footer .footer-container .about,
    .footer-container .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container .info ul {
        align-items: center;
        flex-direction: column;
    }

    .footer-container .info ul li {
        margin: 5px 0;
    }

    .footer-container .hr {
        width: 100%;
        height: 150px;
        background: rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
    }

}

@media screen and (max-width: 730px) {
    body {
        margin: 5rem 0 0 0;
    }

    .section-title-01 {
        font-size: 3em;
    }

    .section-title-02 {
        font-size: 2em;
        transform: translateY(-65px)
    }

    /* home section */
    .home .home-container {
        display: grid;
    }

    .home-container .home-img {
        position: absolute;
    }

    .home-container .home-img img {
        width: 65%;
        transform: translate(80px, -180px);
    }

    .home .home-container .info {
        font-size: 0.8rem;
    }

    .media-icons {
        margin-bottom: 80px;
    }

    /* get in touch */

    .get-in-touch .contact-card {
        display: grid;
    }

    .contact-card .title {
        font-size: 0.6rem;
        line-height: 40px;
    }

    .contact-card .contact-btn .btn {
        font-size: 0.8rem;
    }
}


@media (max-width: 768px) {


    .timeline_container {
        margin: 0.5rem;
    }

    .timeline_container .indicator_line {
        left: 1.875rem;
    }

    .timeline_container .timeline_box {
        margin: 1.875rem 0 0.188rem 3.75rem;
    }

    .timeline_container .timeline_box .timeline_card {
        width: 100%;
    }

    .box-1 .timeline_card::before {
        left: -0.438rem;
    }

    .box-1 .timeline_card .icon {
        left: -2.813rem;
    }


    .box-2 .timeline_card .icon {
        left: -2.813rem;
    }

    .timeline_box .timeline_content .role {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {

    .timeline_container,
    .indicator_line,
    .timeline_box,
    .timeline_card::before,
    .timeline_box .timeline_card .icon {
        display: none;
    }

    .timeline_container .timeline_box {
        margin: 0.625rem 0;
    }
}