.DS_Store
assets/.DS_Store
assets/cancel(old).png
assets/menu(old).png
notion.html
test.html
keyboard1.html
Oldcode/
css/index copy.css
js/animation.js
js/index copy.js
landing.html
de.html
css/notion copy.css
js/notion copy.js
notion copy.html
css/notion.css
notion.html
css/notion.css
js/notion.js
.DS_Store
neovim.html
quantum.html
.Rproj.user
project-template.html
venv